body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin: 0;
    box-sizing: border-box;
}
.title {
    font-size: 30px;
}
.container {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
}
.line {
    display: flex;
    flex: 1;
}
.block {
    border: 0.5px solid black;
    flex: 1;
}
.colourBlock {
    background-color: aquamarine;
}